---
layout: page
title: About
permalink: /about/
---

<div class="columns is-multiline">

    <div class="column is-center">
        <div class="content">

            <figure></figure>
                <img class="is-rounded is-centered" src="../images/julianAboutColombia.jpg" width = "500" height = "500">
            </figure>
            
            <hr>

            {% for paragraph in site.data.about.paragraphs %}
            <p style = "font-size:20px;">{{paragraph}}</p>
            {% endfor %}
 
            {% for link in site.data.about.links  %}
            <a class="card-footer-item" style = "font-size:25px;" href="{{link}}" target="_blank"><span>Résumé</span></a>
            {% endfor %}           
        </div>
    </div>
    
</div>